.first-bgc {
    box-sizing: border-box;
    height: 220px;
    width: 350px;
    padding: 15px 10px 20px 10px;
    margin-bottom: 30px;
    border: 2px;
    border-color: red;
    background-color: green;
}